<launch>
  <param name="/cv_camera/device_id" type = "int" value="0"/>
  <node name="cv_camera" type="cv_camera_node" pkg="cv_camera"/>
  <node name="canny_edge_my_face" type="canny_edge_my_face" pkg="canny_edge_my_face"/>
  <node name="rqt_image_view" type = "rqt_image_view" pkg="rqt_image_view"/>
</launch>
